.side-menu {
    height: 100%;
    background-color: black;
    padding: 50px 40px 100px 40px;
    color: white;
    border-radius: 0px 30px 30px 0px;
    gap: 80px;
    .logo {
        width: 120px;
    }

    .nav-link span {
        font-family: Inter;
        font-size: 15px;
        font-weight: 500;

        text-align: left;
        color: white;
    }

    .icon-side-menu {
        font-size: 23px;
        color: white;
    }

    .subscription-card {
        background: #1A1A1A1A;
        border: 1px solid #1B1B1B;
        border-radius: 28px;
        padding: 30px 10px;

        .number-images-generated {
            font-family: Inter;
            font-size: 14px;
            font-weight: 500;
            line-height: 19.6px;
            text-align: left;
            color: white;
        }

        .upgrade-plan-link {
            font-family: Inter;
            font-size: 13px;
            font-weight: 500;
            line-height: 18.2px;
            text-align: left;
            color: #CA9F4B;
            text-decoration: underline;
            text-decoration-thickness: 3px;
            text-underline-offset: 5px;
            line-height: 25px;

        }

        .upgrade-btn {
            padding: 5px 5px 5px 5px;
            border-radius: 15px;
            font-family: Inter;
            font-size: 14px;
            font-weight: 300;
            line-height: 22.4px;
            text-align: left;
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgb(0, 0, 0);
            text-decoration: none;
            gap: 10px;
            background-color: white;
        }
    }

    .logout-btn{
        padding: 5px 5px 5px 5px;
            border-radius: 15px;
            font-family: Inter;
            border: solid white 1px;
            font-size: 14px;
            font-weight: 400;
            line-height: 22.4px;
            text-align: left;
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgb(255, 255, 255);
            text-decoration: none;
            gap: 10px;
            background-color: rgba(0, 0, 0, 0);

    }

}

@media (max-width: 768px) {
    .side-menu {
      position: fixed;
    }
  }