<section class="hero-section flex-column d-lg-flex ">
    <div class="container">
    <h1 class="hero-title ">Démarrez l’expérience en<br> parcourant nos offres</h1>
    <div class="row align-items-start justify-content-center mt-5">
        <div class="col-lg-5 col-sm-12 ">
            <div class="features-card">
                <h3 class="features-card-title">Plan Gratuit</h3>
                <p class="plan-description">Commencez avec les outils essentiels pour vos visuels d’événements sportifs.
                </p>
                <div class="card-items">
                    <div class="card-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="34" height="35" viewBox="0 0 34 35" fill="none">
                            <g clip-path="url(#clip0_1_1337)">
                                <path
                                    d="M28.4534 3.20996L11.1292 20.5341L5.51061 14.9155L0 20.4261L5.61864 26.0447L11.1652 31.5914L16.6759 26.0807L34 8.75661L28.4534 3.20996Z"
                                    fill="white" />
                            </g>
                            <defs>
                                <clipPath id="clip0_1_1337">
                                    <rect width="34" height="34" fill="white" transform="translate(0 0.400391)" />
                                </clipPath>
                            </defs>
                        </svg>
                        <p><span>Générez jusqu’à 3 visuels par mois</span><br>Créez et personnalisez jusqu'à 3 affiches
                            uniques pour vos événements sportifs tous les 30 jours.</p>
                    </div>

                    <div class="card-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="34" height="35" viewBox="0 0 34 35" fill="none">
                            <g clip-path="url(#clip0_1_1337)">
                                <path
                                    d="M28.4534 3.20996L11.1292 20.5341L5.51061 14.9155L0 20.4261L5.61864 26.0447L11.1652 31.5914L16.6759 26.0807L34 8.75661L28.4534 3.20996Z"
                                    fill="white" />
                            </g>
                            <defs>
                                <clipPath id="clip0_1_1337">
                                    <rect width="34" height="34" fill="white" transform="translate(0 0.400391)" />
                                </clipPath>
                            </defs>
                        </svg>
                        <p><span>Accès à 25 arrière-plans</span><br>Choisissez parmi une sélection de 25 arrière-plans
                            de haute qualité pour enrichir vos visuels.</p>
                    </div>
                    <div class="card-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="34" height="35" viewBox="0 0 34 35" fill="none">
                            <g clip-path="url(#clip0_1_1337)">
                                <path
                                    d="M28.4534 3.20996L11.1292 20.5341L5.51061 14.9155L0 20.4261L5.61864 26.0447L11.1652 31.5914L16.6759 26.0807L34 8.75661L28.4534 3.20996Z"
                                    fill="white" />
                            </g>
                            <defs>
                                <clipPath id="clip0_1_1337">
                                    <rect width="34" height="34" fill="white" transform="translate(0 0.400391)" />
                                </clipPath>
                            </defs>
                        </svg>
                        <p><span>5 choix de polices</span><br>Sélectionnez parmi 5 polices distinctes pour personnaliser
                            le texte sur vos affiches d'événements.</p>
                    </div>
                </div>

                <div class="btns-section">
                    <div class="btn plan-btn">Poursuivre vers le plan Gratuit</div>
                </div>

            </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-5 col-sm-12 ">
            <div class="features-card">
                <h3 class="features-card-title">Plan <span>Premium</span></h3>
                <p class="plan-description">Débloquez des possibilités illimitées pour la promotion de vos événements
                    sportifs.
                </p>
                <div class="card-items">
                    <div class="card-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
                            <g clip-path="url(#clip0_1_1384)">
                                <path
                                    d="M28.4534 2.80957L11.1292 20.1337L5.51061 14.5151L0 20.0257L5.61864 25.6443L11.1652 31.191L16.6759 25.6803L34 8.35622L28.4534 2.80957Z"
                                    fill="url(#paint0_linear_1_1384)" />
                            </g>
                            <defs>
                                <linearGradient id="paint0_linear_1_1384" x1="17" y1="2.80957" x2="17" y2="31.191"
                                    gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#F9E785" />
                                    <stop offset="1" stop-color="#A87A20" />
                                </linearGradient>
                                <clipPath id="clip0_1_1384">
                                    <rect width="34" height="34" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                        <p><span>Visuels illimités</span><br>Créez autant de visuels personnalisés que souhaité, sans
                            restrictions</p>
                    </div>

                    <div class="card-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
                            <g clip-path="url(#clip0_1_1384)">
                                <path
                                    d="M28.4534 2.80957L11.1292 20.1337L5.51061 14.5151L0 20.0257L5.61864 25.6443L11.1652 31.191L16.6759 25.6803L34 8.35622L28.4534 2.80957Z"
                                    fill="url(#paint0_linear_1_1384)" />
                            </g>
                            <defs>
                                <linearGradient id="paint0_linear_1_1384" x1="17" y1="2.80957" x2="17" y2="31.191"
                                    gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#F9E785" />
                                    <stop offset="1" stop-color="#A87A20" />
                                </linearGradient>
                                <clipPath id="clip0_1_1384">
                                    <rect width="34" height="34" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                        <p><span>Catalogue complet d’arrière-plans</span><br>Accédez à une vaste collection de fonds
                            régulièrement mise à jour</p>
                    </div>
                    <div class="card-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
                            <g clip-path="url(#clip0_1_1384)">
                                <path
                                    d="M28.4534 2.80957L11.1292 20.1337L5.51061 14.5151L0 20.0257L5.61864 25.6443L11.1652 31.191L16.6759 25.6803L34 8.35622L28.4534 2.80957Z"
                                    fill="url(#paint0_linear_1_1384)" />
                            </g>
                            <defs>
                                <linearGradient id="paint0_linear_1_1384" x1="17" y1="2.80957" x2="17" y2="31.191"
                                    gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#F9E785" />
                                    <stop offset="1" stop-color="#A87A20" />
                                </linearGradient>
                                <clipPath id="clip0_1_1384">
                                    <rect width="34" height="34" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                        <p><span>Large choix de polices</span><br>Choisissez parmi une grande variété de polices pour
                            s'adapter au style de votre marque et aux besoins de vos événements.</p>
                    </div>
                    <div class="card-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
                            <g clip-path="url(#clip0_1_1384)">
                                <path
                                    d="M28.4534 2.80957L11.1292 20.1337L5.51061 14.5151L0 20.0257L5.61864 25.6443L11.1652 31.191L16.6759 25.6803L34 8.35622L28.4534 2.80957Z"
                                    fill="url(#paint0_linear_1_1384)" />
                            </g>
                            <defs>
                                <linearGradient id="paint0_linear_1_1384" x1="17" y1="2.80957" x2="17" y2="31.191"
                                    gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#F9E785" />
                                    <stop offset="1" stop-color="#A87A20" />
                                </linearGradient>
                                <clipPath id="clip0_1_1384">
                                    <rect width="34" height="34" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                        <p><span>Support Prioritaire</span><br>Bénéficiez d'un support prioritaire pour toute assistance
                            liée à l'application.</p>
                    </div>
                </div>

                <div class="btns-section">
                    <div class="btn plan-btn"><span>Poursuivre vers le plan Premium</span></div>
                </div>

            </div>
        </div>
    </div>
</div>
</section>