.sport-card {
    height: 370px;
    // background-image: url(/assets/images/lige1.png);
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    padding-right: 50px;

    .card-content {
        width: 30%;
    }

    .card-title {
        font-family: 'Blair ITC';
        font-size: 55px;
        font-weight: 350;
        line-height: 53.76px;
        text-align: left;
        color: white;

    }

    .card-description {
        font-family: Inter;
        font-size: 16px;
        font-weight: 300;
        line-height: 22.4px;
        text-align: left;
        color: white;
        margin: 0;
        width: 60%;

    }

    .card-btn {
        padding: 10px 24px 10px 24px;
        border-radius: 30px;
        background-color: white;
        font-family: Inter;
        font-size: 15px;
        font-weight: 500;
        line-height: 22.5px;
        color: black;
        width: 90%;

    }

    
}

.disabled-card{
    filter: grayscale(1);
}


