@if (!isHidden) {  
  <app-header></app-header>  
}  

@if (showDashboard) {  
  <div class="container-fluid bg-dark">    
    <div class="row">      
      <!-- Sidebar for large screens -->      
      <div class="col-2 p-0 overflow-hidden d-md-block d-none">        
        <app-side-menu></app-side-menu>      
      </div>      
      <!-- Toggle Button for Sidebar on small screens -->      
      <div class="col-12 d-md-none p-2 bg-light">        
        <button class="btn btn-primary" (click)="toggleSidebar()">          
          Toggle Sidebar        
        </button>      
      </div>      
      <!-- Sidebar for small screens -->      
      <div [ngClass]="{'d-block': showSidebar, 'd-none': !showSidebar}" class="col-12 col-md-3 d-md-none p-0">    
        <app-side-menu></app-side-menu>      
      </div>      
      <!-- Content area -->      
      <div class="col p-2">        
        <div class="content-area">        
          <router-outlet></router-outlet>                    
        </div>      
      </div>    
    </div>  
  </div>  
} 

@if (!showDashboard) {  
  <router-outlet></router-outlet>  
}
