<div class="sports-section p-5">
    <div class="section-head d-flex justify-content-between align-items-center">
        <div class="d-felx flex-column">
            <h3 class="title m-0">{{leagueName}}</h3>
            <p class="sub-title m-0">select your matches</p>
        </div>
        <button class="btn back-btn" routerLink="/dashboard/sports">Back</button>

    </div>
    <div class="section-body mt-5">
        <div class="row">
            <div class="col-lg-6">
                <div class="d-flex align-items-center justify-content-between">
                    <a  class="slider-control" (click)="previous()"><i class="fa-solid fa-chevron-left"></i></a>
                    <p class="date">{{startDateString}}</p>
                    <p>&nbsp;</p>
                </div>
                <div class="d-flex matchs-items flex-wrap mt-5 gap-4">
                    @for (item of firstDayMatchs; track $index) {
                        <label class="btn match-btn d-flex align-items-center justify-content-between p-3">
                            <div class="d-flex align-items-center gap-3">
                                <input type="checkbox" class="checkbox" (change)="selectMatch(item)">
                                <div class="d-flex flex-column gap-2">
                                    <span class="team-name">{{item.firstTeam.name}}</span>
                                    <span class="team-name">{{item.secondTeam.name}}</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center gap-3">
                                <span class="match-date">{{item?.periods?.first * 1000| date:'HH:mm'}} - {{item?.periods?.second * 1000 | date:'HH:mm'}}</span>
                                <div class="d-flex align-items-center justify-content-center gap-3">
                                    <img class="team-icon" ngOptimizedImage [src]="item.firstTeam.logo" [alt]="item.firstTeam.name">
                                    <img class="team-icon" ngOptimizedImage [src]="item.secondTeam.logo" [alt]="item.secondTeam.name">
                                </div>
                            </div>
                        </label>
                    }
                    
                    
                </div>
            </div>
            <div class="col-lg-6 left-side-carousel">
                <div class="d-flex align-items-center justify-content-between">
                    <p>&nbsp;</p>
                    <p class="date">{{endDateString}}</p>
                    <a  class="slider-control" (click)="next()"><i class="fa-solid fa-chevron-right"></i></a>
                </div>
                <div class="d-flex matchs-items flex-wrap mt-5 gap-4">
                    @for (item of secondDayMatchs; track $index) {
                        <label class="btn match-btn d-flex align-items-center justify-content-between p-3">
                            <div class="d-flex align-items-center gap-3">
                                <input type="checkbox" (change)="selectMatch(item)" class="checkbox">
                                <div class="d-flex flex-column gap-2">
                                    <span class="team-name">{{item.firstTeam.name}}</span>
                                    <span class="team-name">{{item.secondTeam.name}}</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center gap-3">
                                @if (item.status.long === "Match Finished") {
                                    <span class="match-date">{{(item?.periods?.first * 1000) | date:'HH:mm'}} - {{(item?.periods?.second * 1000) | date:'HH:mm'}}</span>
                                }
                                @else{
                                    <span class="match-date">{{item?.startDate | date:'HH:mm'}} - {{item?.startDate | date:'HH:mm'}}</span>
                                }
                                <div class="d-flex align-items-center justify-content-center gap-3">
                                    <img class="team-icon" ngOptimizedImage [src]="item.firstTeam.logo" [alt]="item.firstTeam.name">
                                    <img class="team-icon" ngOptimizedImage [src]="item.secondTeam.logo" [alt]="item.secondTeam.name">
                                </div>
                            </div>
                        </label>
                    }
                    
                    
                </div>
            </div>
            <!-- <div class="col-lg-6"></div> -->
        </div>
    </div>

</div>

<div class="sports-section p-5 mt-5">
    <div class="section-head d-flex justify-content-between align-items-center">
        <div class="d-felx flex-column">
            <h3 class="title m-0">visuels</h3>
            <p class="sub-title m-0">custom your posters</p>
        </div>
        @if (selectedMatch.length !== 0) {
            <div class="d-flex align-items-center justify-content-left gap-3">
                <button class="btn secondary-btn"(click)="openBackgroundModal()">Background change</button>
                <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn secondary-btn" id="dropdownForm1" ngbDropdownToggle>
                        {{selectedTypography?.name ? selectedTypography?.name : 'Change typography'}}
                    </button>
                    <div ngbDropdownMenu class="filter-menu" aria-labelledby="dropdownForm1">
                        <ul class="filter-list">
                            @for (item of typographyList; track $index) {
                            <li>
                                <label
                                    class="btn typo-btn d-flex align-items-center justify-content-between p-3">
                                    <div class="d-flex align-items-center justify-content-between gap-3">
                                        <div class="d-flex flex-column gap-2">
                                            <span class="team-name">{{item.name}}</span>
                                        </div>
                                    </div>
                                    <input type="checkbox" class="checkbox"  [checked]="isTypographyChecked(item)"  (change)="selectTypography(item)">

                                </label>
                            </li>
                            }
                        </ul>
                    </div>
                </div>
                <button class="btn next-btn" (click)="saveMedia()">Next</button>
            </div>
        }

    </div>
    <div class="section-body mt-5">
        <div class="empty-message d-flex align-items-center justify-content-center" *ngIf="selectedMatch.length === 0">
            <p class="empty-text">sélectionnez un évènement pour générer l’affichage</p>
        </div>

        <div *ngIf="startGenerate" class="empty-message d-flex align-items-center justify-content-center">
            <div class="spinner-grow" role="status">
                <span class="sr-only">Loading...</span>
              </div>
        </div>
        <app-slider *ngIf="generatedMedia.length !== 0 && startGenerate=== false" [graphicsList]="generatedMedia"></app-slider>
        
        
    </div>
    
</div>