<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{ title }}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="onConfirmClick(false)"
            aria-label="Close"></button>
  </div>
  @if (message){
    <div class="modal-body">
      {{ message }}
    </div>
  }
    @if (showConfirmButton || showCancelButton){
        <div class="modal-footer">
            @if (showCancelButton){
                <button type="button" class="btn btn-secondary" (click)="onConfirmClick(false)"
                        data-bs-dismiss="modal">{{ cancelButtonText }}
                </button>
            }
            @if (showConfirmButton){
                <button type="button" class="btn btn-primary" (click)="onConfirmClick(true)">{{ confirmButtonText }}</button>
            }
        </div>
    }
</div>
