<section class=" hero-section d-lg-flex  d-sm-block justify-content-end align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-12 d-flex flex-column gap-0 row-gap-4">
        <h1 class="hero-title">Générez vos visuels de matchs en quelques clics !</h1>
        <p class="hero-description">Personnalisez vos affiches avec des logos, adresses, horaires et bien plus, tout en quelques étapes simples.</p>
        <button type="button" class="btn see-more-btn" aria-label="Voir plus de détails sur les affiches de match">Voir plus</button>
      </div>
      <div class="col-lg-6 col-sm-12 justify-content-sm-center">
        <div class="hero-images d-flex flex-column flex-lg-row align-items-lg-end  justify-content-lg-end justify-content-sm-center">
          <img ngOptimizedImage class="img-fluid" src="assets/images/Story_Insta.png" alt="Instagram story template preview">
          <img ngOptimizedImage class="img-fluid" src="assets/images/insta_post.png" alt="Instagram post template preview">
        </div>
        
      </div>
    </div>

  </div>
  </section>