<div *ngIf="data.type === 2 || data.type === 6"
     class="alert alert-primary bg-primary text-light border-0 alert-dismissible fade show" role="alert">
  {{ data.message }}
  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div *ngIf="data.type === 1 || data.type === 5"
     class="alert alert-success bg-success text-light border-0 alert-dismissible fade show" role="alert">
  {{ data.message }}
  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div *ngIf="data.type === 3 || data.type === 7"
     class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" role="alert">
  {{ data.message }}
  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div *ngIf="data.type === 4 || data.type === 8"
     class="alert alert-warning bg-warning border-0 alert-dismissible fade show" role="alert">
  {{ data.message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
