
<section class="login-section">
    <div class="container">
        <div class="login-card d-flex flex-column">
            <div class="row justify-content-center align-items-start ">
                <div class="col-lg-6 col-sm-12 d-flex flex-column gap-5">
                    <img ngOptimizedImage src="assets/images/logo.png" class="logo" alt="">
                    <div>
                        <p class="title-card m-0">Create an account</p>
                        <p class="description-card m-0">Describe yourself as clearly so that there are no mistakes.</p>
                    </div>
                    <form [formGroup]="form">
                    <div class="d-flex flex-column align-items-center justify-content-center gap-4">
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <div class="d-flex flex-column justify-content-left  align-items-center">
                                <p class="m-0 text-white text-justify-start">Your business logo* : {{this.selectedFile?.name ? this.selectedFile?.name : ''}}</p>
                                <p class="file-recomendation m-0">Select a PNG file,<br>recommended size 1000px*1000px
                                </p>
                            </div>
                            <input type="file" name="logo-file" id="logo_file" (change)="onFileSelected($event)" hidden>
                            <label for="logo_file" class="btn logo-upload-btn">choisir</label>


                        </div>

                        <div class="d-flex flex-column align-items-center justify-content-center gap-4 w-100 mt-4">
                            <!-- <div class="d-flex align-items-center justify-content-center gap-4">
                                <hr class="divider-line m-0  w-100">
                                <p class="divider-text m-0">or</p>
                                <hr class="divider-line m-0">
                            </div> -->
                            <div class="row g-3 w-100">
                                <div class="col-md-6">
                                    <input type="text" placeholder="Business name" formControlName="businessName" class="form-control" id="businessName">
                                </div>
                                <div class="col-md-6">
                                    <select name="buisnessType" formControlName="buisnessType" aria-placeholder="Sélectionner"
                                        class="form-control select-box" id="buisnessType">
                                        <option value="">Select type of business</option>
                                        <option value="V1">v1</option>
                                        <option value="V2">v1</option>
                                        <option value="V3">v1</option>
                                        <option value="V5">v1</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row g-3 w-100 gap-2">
                                <div class="col-md-12">
                                    <input type="text" class="form-control" id="adress" formControlName="adresse" placeholder="adress">
                                </div>
                            </div>
                            <div class="row g-3 w-100">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="phoneNumber" formControlName="phone" placeholder="Phone number">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" placeholder="Raison Sociale" class="form-control" formControlName="companyName" id="raisonSociale">
                                </div>
                            </div>
                            
                        </div>

                        <div class="d-flex align-items-center justify-content-between gap-4 w-100 mt-5">
                            <button class="btn back-btn" routerLink="/register">Back</button>
                            <button class="btn next-btn" (click)="submit()">Next</button>
                        </div>
                    </div>
                </form>
                </div>
                <div class="col-lg-6 col-sm-12">
                    @if (images) {
                    <ngb-carousel>
                        @for (image of images; track $index) {
                        <ng-template ngbSlide>
                            <div class="picsum-img-wrapper">
                                <img ngOptimizedImage [src]="image" alt="Random first slide" />
                            </div>
                            <div class="carousel-caption">
                                <h3>"Boost your venue's appeal with All Sports.Create stunning match visuals injust a
                                    few clicks!"</h3>
                            </div>
                        </ng-template>
                        }


                    </ngb-carousel>
                    }
                </div>
            </div>
        </div>
    </div>
</section>